@page "/exit/checkyouranswers"
@model SFA.DAS.ApprenticeFeedback.Web.Pages.ExitInterview.CheckYourAnswersModel
@{
    ViewData["Title"] = "Exit survey";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

        <form method="post">

            <h1 class="govuk-heading-l">Check your answers</h1><br>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-third">
                        Our records show, you did not complete your apprenticeship.
                        <br>Is this correct?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @if (Model.ExitInterviewContext.DidNotCompleteApprenticeship.Value)
                        {
                            <text>I did not complete</text>
                        }
                        else
                        {
                            <text>I did complete</text>
                        }
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link--no-visited-state" href="/exit/question1">
                            Change<span class="govuk-visually-hidden"> question 1</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-third">
                        I did not complete my apprenticeship because...
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ExitInterviewContext.IncompletionReason
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link--no-visited-state" href="/exit/question2">
                            Change<span class="govuk-visually-hidden"> question 2</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-third">
                        Did any of the following factors contribute to you not completing your apprenticeship?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ExitInterviewContext.IncompletionFactor
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link--no-visited-state" href="/exit/question3">
                            Change<span class="govuk-visually-hidden"> question 3</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-third">
                        I would have remained on the apprenticeship if…
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ExitInterviewContext.RemainedReason
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link--no-visited-state" href="/exit/question4">
                            Change<span class="govuk-visually-hidden"> question 4</span>
                        </a>
                    </dd>
                </div>
            </dl>

            <div class="govuk-form-group">

                <fieldset class="govuk-fieldset">

                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" asp-for="AllowContact">
                            <label class="govuk-label govuk-checkboxes__label" for="ContactMe">
                                I'm happy to be contacted by the Apprenticeship service about my answers
                            </label>
                        </div>

                    </div>

                </fieldset>

            </div>

            <div class="govuk-button-group">
                <button class="govuk-button" type="submit">Confirm and submit</button>
            </div>

        </form>
    </div>
</div>