@page "/links/{linkName}/{templateName?}/{feedbackTransactionId}/{apprenticeFeedbackTargetId}"
@model SFA.DAS.ApprenticeFeedback.Web.Pages.Engagement.LinksModel
@{
}

﻿@{
    ViewData["Title"] = "Page not found";
}

<h1 class="govuk-heading-xl">Page not found</h1>
<p>
    If you typed the web address, check it’s correct.
</p>
<p class="govuk-body">
    If you pasted the web address, check you copied the entire address.
</p>
<p class="govuk-body">
    If the web address is correct or you selected a link from an email, <a class="govuk-link" href="mailto:nationalhelpdesk@apprenticeships.gov.uk">contact the Apprenticeship Helpdesk</a>.
</p>