@page "/feedback"
@model SFA.DAS.ApprenticeFeedback.Web.Pages.Feedback.FeedbackModel
@{
}

<div class="govuk-width-container" id="dashboard-section">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">My apprenticeship</h1>
            <p> feedback </p>
            </div>
        </div>
    </div>
