@page "/training-provider"
@model SFA.DAS.ApprenticeFeedback.Web.Pages.Feedback.SelectTrainingProviderModel

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l"> Select a training provider </h1>

           
        </div>
    </div>
</div>
