@page "/exit/complete"
@model SFA.DAS.ApprenticeFeedback.Web.Pages.ExitSurvey.CompleteModel
@{
    ViewData["Title"] = "Exit survey";
}

@if(Model.ExitSurveyContext.DateTimeCompleted.HasValue) {

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">You have already completed the exit survey</h1>

            <h1 class="govuk-body">You completed this exit survey on @Model.ExitSurveyContext.DateTimeCompleted.Value.ToString("d MMMM yyyy")</h1>

            <p class="govuk-body">Thank you for taking the time to give us feedback on why you did not complete your apprenticeship.</p>

            <p class="govuk-body">You may now close this window.</p>

            <p class="govuk-body">Many thanks<br/>The Apprenticeship service</p>

        </div>
    </div>
}
else {


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Exit survey complete
            </h1>
        </div>

        <p class="govuk-body">
                Your feedback is important to us and will give us valuable information on why you did not complete your apprenticeship, it will also help us improve the service to support future apprentices.
            <br><br>
            If you require any further information or advice on your next career steps or are looking for a new apprenticeship, please visit the links below.
        </p>

        <h2 class="govuk-heading-m">What do you want to do next?</h2>

        <p class="govuk-body">
            Further advice and guidance around careers information<br>
            <a class="govuk-link--no-visited-state" href="https://nationalcareers.service.gov.uk" target="_blank" rel="noopener">https://nationalcareers.service.gov.uk (opens in a new tab)</a>
        </p>

        <p class="govuk-body">
            Find information about apprenticeship vacancies<br>
            <a class="govuk-link--no-visited-state" href="https://www.gov.uk/apply-apprenticeship" target="_blank" rel="noopener">https://www.gov.uk/apply-apprenticeship (opens in a new tab)</a>
        </p>

    </div>
</div>
}