@page "/exit/incorrectcomplete"
@model SFA.DAS.ApprenticeFeedback.Web.Pages.ExitSurvey.IncorrectCompleteModel
@{
    ViewData["Title"] = "Exit survey";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">You do not need to answer any further questions</h1>

        <p class="govuk-body">Please contact your training provider and employer to ensure they have submitted the most up to date information regarding you and your apprenticeship.</p>

        <p class="govuk-body">Thank you for taking the time to help us.</p>

    </div>
</div>
