@page "/exit/question3"
@model SFA.DAS.ApprenticeFeedback.Web.Pages.ExitSurvey.Question3Model
@{
    ViewData["Title"] = "Exit survey";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="ValidationSummary" />
        <form method="post">
            <div class="govuk-form-group" validation-row-status property-name="MultipleErrorSummary">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-heading-l">
                            Would any of the following have made you more likely to stay on the apprenticeship?
                        </h1>
                        <div id="options-hint" class="govuk-hint">
                            Please select any of the answers that are relevant to you.
                        </div>
                    </legend>

                    <span asp-validation-for="ReasonAttributes" class="govuk-error-message"></span>

                    @Html.ValidationMessage("MultipleErrorSummary",new { @class = "govuk-error-message" })
                    @await Component.InvokeAsync("AttributeCheckboxes", new { attributes = Model.ReasonAttributes, attributesModelName = "ReasonAttributes", lastIsExclusive = true })

                </fieldset>
            </div>
            <button class="govuk-button" type="submit"> Continue </button>
        </form>

    </div>
</div>
