@page "/exit/question2"
@model SFA.DAS.ApprenticeFeedback.Web.Pages.ExitSurvey.Question2Model
@{
    ViewData["Title"] = "Exit survey";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="ValidationSummary" />
        <form method="post">
            <div class="govuk-form-group" validation-row-status property-name="MultipleErrorSummary">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-heading-l">
                            Did any of the following factors contribute to you not finishing the apprenticeship?
                        </h1>
                        <div id="options-hint" class="govuk-hint">
                            Please select any answers that are relevant to you.
                        </div>
                    </legend>

                    @Html.ValidationMessage("MultipleErrorSummary",new { @class = "govuk-error-message" })
                    @await Component.InvokeAsync("AttributeCheckboxes", new { attributes = Model.PersonalCircumstancesAttributes, attributesModelName = "PersonalCircumstancesAttributes", headingHtml = "<h2 class=\"govuk-heading-s\">My personal circumstances</h2>"  })
                    @await Component.InvokeAsync("AttributeCheckboxes", new { attributes = Model.EmployerAttributes, attributesModelName = "EmployerAttributes", headingHtml = "<h2 class=\"govuk-heading-s\">My employer</h2>"  })
                    @await Component.InvokeAsync("AttributeCheckboxes", new { attributes = Model.TrainingProviderAttributes, attributesModelName = "TrainingProviderAttributes", headingHtml = "<h2 class=\"govuk-heading-s\">My training provider</h2>"  })

                </fieldset>
            </div>
            <button class="govuk-button" type="submit"> Continue </button>
        </form>

    </div>
</div>
